.root {
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 10px 16px;
    border-radius: 4px;
}

.child {
    display: flex;
    flex: auto;
    margin-right: 8px;
}

.labelAdd {
    border: 1px solid black;
    padding: 8px;
    border-radius: 4px;
}


.tooltip {
    position: fixed;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 4px;
}